
  <footer class="footer {{ footer_class }}">
    <div class="container">
      <div class="row">
        <nav class="footer-nav">
          <ul>

            <li>
              <a href="{{ data.github }}">
                Flask Paper Sources
              </a>
            </li>

            <li>
              <a href="{{ data.product }}">
                Flask Paper Info
              </a>
            </li>
          
          </ul>
        </nav>
        <div class="credits ml-auto">
          <span class="copyright">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script> AppSeed <a href="{{ data.generator }}">App Generator</a> - Designed by <a href="https://www.creative-tim.com">Creative Tim</a>
          </span>
        </div>
      </div>
    </div>
  </footer>
