
  <footer class="footer footer-white ">
      <div class="container">
        <div class="row">
          <nav class="footer-nav">
            <ul>
              <li>
                <a href="https://appseed.us/apps/flask-apps/flask-material-kit">
                  Flask Material Kit
                </a>
              </li>
            </ul>
          </nav>
          <div class="credits ml-auto">
            <span class="copyright">
                &copy;
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> - Coded by AppSeed.
            </span>
          </div>
        </div>
      </div>
  </footer>
