
  <!--   Core JS Files   -->
  <script src="/static/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="/static/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="/static/assets/js/core/bootstrap.min.js" type="text/javascript"></script>

  <script src="/static/assets/js/plugins/bootstrap-switch.js"></script>

  <script src="/static/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>

  <script src="/static/assets/js/plugins/moment.min.js"></script>
  <script src="/static/assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>

  <script src="/static/assets/js/paper-kit.js?v=2.2.0" type="text/javascript"></script>

